/* Document style */
*
{
    margin: 0;
    padding: 0;
    border: 0;
}
html
{
    box-sizing: border-box;
}
*, *::after, *::before
{
    box-sizing: inherit;
}

/* Layout */
.header
{
    height: 70vh;
    background: url('../img/stamfordn-bridge.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column;
}
.header .container
{
    padding: 0;
}
.navbar, .intro
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15%;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}
.intro
{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.container
{
    padding: 3rem 20%;
}
.container-fluid
{
    padding: 0;
}
.row
{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}
.col
{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 45%;
}
.card-group
{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}
.description
{
    padding: 4rem 20% 3rem;
    background-color: #E5E7E8;
}
.honor
{
    display: flex;
    flex-flow: row wrap;
    background-color: #2962FF;
    padding: 2.5rem 5rem;
    gap: 2rem;
}
.honor .body 
{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 70%;
}
.honor .action
{
    min-width: 10rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    flex: 0 1 20%;
}
.footer
{
    display: block;
    padding: 2rem 0;
    text-align: center;
    background-color: #1F2937;
}
.flex-center
{
    align-items: center;
    justify-content: center;
}

/* Components */
.navbar-brand
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.navbar-nav
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.25rem;
    align-items: flex-end;
}
.nav-link
{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bolder;
}
.card
{
    min-width: 250px;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 20%;
    text-align: center;
}
.btn
{
    width: 10rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0.75rem;
}
.btn-primary
{
    color: white;
    background: #3882F6;
}
.btn-secondary
{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.btn-primary:hover,
    .btn-primary:active
    {
        background-color: #2962FF;
        font-weight: bold;
        transition: all 1.0s ease-in-out;
    }
.btn-secondary:hover,
    .btn-secondary:active
    {
        font-weight: bold;
        border: 4px solid white;
        transition: all 1.0s ease-in-out;
    }
.img-fluid
{
    max-width: 100%;
    height: auto;
}
.chelsea-logo
{
    max-width: 200px;
    height: auto;
}
.card .player
{
    margin-bottom: 1rem;
}

/* Typography */
.header .title, 
    .header .text
{
    color: white;
    margin-bottom: 1rem;
}
.header .title
{
    font-size: 4rem;
    font-weight: 900;
}
.header .text
{
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.sub-title
{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.card .text
{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.card .text strong
{
    color: #2962FF;
}
.description .text
{
    color: #1F2937;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: lighter;
    line-height: 2rem;
}
.description .text strong
{
    display: block;
    font-size: 1.25rem;
    color: black;
    font-style: normal;
    text-align: right;
    font-weight: bold;
    margin-right: 0.5rem;
}
.honor .sub-title
{
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 0.5rem;
}
.honor .text, 
    .footer .text
    {
    color: #E5E7E8;
    font-size: 1.25rem;
    font-weight: lighter;
    }