/* Document style */
*
{
    margin: 0;
    padding: 0;
    border: 0;
}
html
{
    box-sizing: border-box;
}
*, *::after, *::before
{
    box-sizing: inherit;
}

/* Layout */
.header
{
    height: 70vh;
    background: url('../img/stamfordn-bridge.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-flow: column;
}
.navbar, .intro
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 15%;
}
.navbar
{
    display: flex;
    justify-content: space-between;
}
.intro
{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.row
{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}
.col
{
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 45%;
}
.flex-center
{
    align-items: center;
    justify-content: center;
}

/* Components */
.navbar-brand
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.navbar-nav
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    align-items: flex-end;
}
.nav-link
{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bolder;
}
.btn-primary
{
    color: white;
    background: #3882F6;
}
.img-fluid
{
    max-width: 100%;
    height: auto;
}
.chelsea-logo
{
    max-width: 200px;
    height: auto;
}

/* Typography */
.header .title, 
    .header .text
{
    color: white;
    margin-bottom: 1rem;
}
.header .title
{
    font-size: 4rem;
    font-weight: 900;
}
.header .text
{
    color: white;
    font-size: 1.25rem;
    line-height: 1.5rem;
}